.profile {
    width: 100px;
    height: 100px;
    padding: 2px;
    position: relative;
}

.profile img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    border-radius: 100%;
}

.changeimg {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
